<div id="show_text" class='container py-3' >  

  <div class='row'>

    <div class='col-12 col-lg-8'>

      <div class="card-passeport">

        <div>
            <h4 class="fr-card__title">
              <a href="#" class="fr-card__link">Pass sanitaire</a>
                <%= image_tag "passeport.png", alt: "Passeport", width: 300 %>
            </h4>
        </div>

        <div>

          <span>Perpignan</span>
          <span>.</span>
          <span>Pfizer</span>
          <span>.</span>
          <span>Masculin</span>
          <span>.</span>
          <span>Reviews</span>

        </div>

        <div>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley.
            </p>
        
        </div>

      </div>

    <div class='col-12 col-lg-4'>

      <div id="bill" class="fr-card__bill">
        <div class="card-bill text-center" id="bill_child">
          <img src="" class="fr-responsive-img" alt="">

          <div class="col-md-4">
          
            <div class="card p-3 rounded">

              <div>
                <h2>Price per day</h2>
                <h3>Rating<h3>
              </div>

              <div class="cards">

                <div class="d-flex justify-content-between border-top-2">
                  <p><strong>Début</strong> (1)</p>
                  <p>11/10/21</p>
                </div>

                <div class="d-flex justify-content-between border-left-2 border-right-2">
                  <p><strong>Fin</strong> (2)</p>
                  <p>16/10/21</p>
                </div>

                <div class="d-flex justify-content-between border-left-2 border-right-2">
                  <p><strong>Vaccin</strong> (1)</p>
                  <p>Pfizer</p>
                </div>

                <div class="d-flex justify-content-between border-bottom-2">
                  <p><strong>Genre</strong></p>
                  <p><strong>Féminin</strong></p>
                </div>

              </div>

              <div>
                <button class="fr-btn"><%= link_to "Réserver", new_passport_transaction_path(@passport)%></button>
              </div>
    </div>    

  </div>

</div>

