// Specific CSS for your home-page
#home_text p {
  size: 16px;
  text-justify: auto;
}

#picture-container .flex-container {
  display: flex;
  align-items: strech;
  padding: 5px;
  // height: 100px;
  // width: 100px;
}

#pass-card {
   height: 300px;
   width: 300px;
  //  padding: 5px;
}

.card-container{
  display: flex;
  padding: 30px;
}