// Specific CSS for your home-page

.container {
  justify-content: space-between
}

.home__page_text p {
  size: 16px;
  text-justify: auto;
}

.main-display {
  width: 75%;
}

.main-image {
  width: 25%;
}
.main-image img{
  max-width:100%;
  max-height:100%;
}

.pass-card p {
  size: 14px
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 110px;
}

.fr-card__link {
  size: 16px;
}