.btn a {
  color: white ;
  background:#000091;
  border: 1px solid #000091;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  position: absolute;
  &:hover {
    opacity: 1;
  }
}

.span {
  color:#000091;
  font: small-caps bold 16px/1 sans-serif;
}
.comment p {
  font: small-caps bold 16px/1 sans-serif;
  padding: 8px 24px;
}

#passan {
  padding: 8px 24px;
}

.show-card-container{
  display: flex;
  align-items: center;
}

.card{
  width: 350px;
  height: 350px;
}

.card-pass {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-pass > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-pass h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pass p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-pass .card-pass-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-pass-infos .card-pass-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
