<div class="fr-container">
  <h1>Gestion des cookies</h1>
  
  <div class="my-3">
    <P>Une politique de cookies sérieuse, sécurisante, dans le respect du droit de chacun</P>
  </div>
  
  <div class="my-3">
   <%= image_tag "MildJointHamadryas.gif", alt: "Boîte à Cookie"%>
  </div>
</div>