<div class='fr-container d-flex my-3'> 
  <div class='main-display flex-item'>
    <div class="home_page_text m-3">
      <div class="text intro">
        <h1>Qu'est-ce que le Fournisseur de Pass Sanitaire ?</h1>
        <p class="my-3">
          Depuis plus d’un an, le gouvernement s’est associé au Wagon pour digitaliser et libéraliser le système d’échange de pass sanitaires. Aujourd’hui, c’est plus de 80% de la population française qui utilise quotidiennement ces services pour ses déplamcements et moments d’échanges....
        </p>
        <button class='fr-btn my-3'><%= link_to "Louer un pass", passports_path, style:"color:white !important;text-decoration:none; !important" %></button>
      </div>
      <br>
      <div class="text about-us my-3 w-50">
        <h2>Que sommes-nous ?</h2>
        <ul class="list-unstyled">
          <li>Assertif et bienveillants</li>
          <li>Pugnaces et doux</li>
          <li>Irrévérencieux mais respectueux</li>
          <li>Impétueux et réfléchis</li>
        </ul>
      </div>
    </div>
  </div>
  <div class='main-image flex-item my-3 w-50'>
    <%= image_tag "pour_rester_ensemble_face_au_virus.png", alt: "Pour Rester Ensemble Face Au Virus"%>
  </div>
</div>
<div class='fr-container my-3'>
  <div class="text faire-don">
    <div role="alert" class="fr-alert fr-alert--info">
      <p class="fr-alert__title">Cyril a besoin d'une voiture!</p>
      <p>Pour la bonne cause, faites un don en cliquant <%= link_to "ici", "app/assets/images/cyril_voiture.jpg" %></button>.</p>
    </div>
  </div>
</div>