<div class="fr-container">
  <h1>Données Personnelles</h1>
  
  <div class="my-3">
    <P>Respectez-vous, respectez-vos données. Nous sommes à votre écoute</P>
  </div>
  
  <div class="my-3">
   <%= image_tag "BettyBoopUndressing.gif", alt: "Boîte à Cookie"%>
  </div>
</div>