<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [ @passport, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Notez votre expérience." %>
        <button class="fr-btn">Cliquez ici.</button>
      <% end %>
    </div>
  </div>
</div>